<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.main">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.main.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--轮播图-->
        <activity
            android:name=".demo.banner.BannerActivity"
            android:screenOrientation="portrait" />

        <!--列表加载-->
        <activity
            android:name=".demo.recycle.RecycleTestActivity"
            android:screenOrientation="portrait" />

        <!--面部识别-->
        <activity
            android:name=".demo.firebase.FaceDetectorActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <!-- 为了能够使用多个模型:  android:value="barcode,text,face" -->

    </application>

</manifest>